.wa-header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(31, 116, 104, 0.785);

  &__back {
    width: 5%;
    height: 15%;
    margin-right: 15px;
    margin-left:15px;
    img {
      height: 30px;
    }
  }
  &__image {
    width: 14%;
    background-color: rgb(165, 173, 173);
    border-radius: 50%;
    height: 45px;
    width: 55px;
    margin-right: 15px;
  }
  &__info {
    width: 60%;
    p {
      margin: 0;
      font-size: 23px;
    }
  }
  &__icons {
    width: 15%;
    text-align: center;

    &__video {
      height: 40px;
      margin: 0;
    }
    &__call {
      height: 30px;
    }
  }
}
