.wa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(31, 116, 104, 0.785);
  &__back {
    width: 5%;
    height: 15%;
    margin-right: 15px;
    img {
      height: 30px;
    }
  }
  &__image {
    width: 10%;
    background-color: rgb(165, 173, 173);
    border-radius: 50%;
    height: 40px;
    width:50px;
    margin-right:15px;
  }
  &__info {
    width: 60%;
    p {
      margin: 0;
      font-size: 20px;
    }
  }
  &__icons {
    width: 20%;
    text-align: center;
    &__video {
      width: 30px;
     
    }
    &__call {
      width: 30px;
    }
  }
}
