.whatapp-input {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-left: 10px;
    position: fixed;
    width:95%;
    bottom:70px;
  }
  
  .whatapp-input .input-field {
    flex-grow: 1;
    margin: 0 10px;
    padding: 20px 20px;
    border-radius: 15px;
    border: 1px solid #d6cccc;
    outline: none;
    
  }
  ::placeholder{
    font-size:20px;
  } 
  
  .whatapp-input .icon {
    color: #128C7E;
    margin: 0 5px;
    cursor: pointer;
 
    height:40px;
  }
  